/* https://grabient.com/HQJgHCA0wMztBGA7DaBWALE6SBsAGaXEBaEXbWXVYBATm0JGHw1Q1rDunyTBwxRgSfIQC0CYGzBA?style=linearGradient&steps=3&angle=135 */
.iceberg-regular {
    font-family: "Iceberg", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(135deg, rgba(0, 0, 65, 1.000) 0.000%, rgba(34, 87, 114, 1.000) 50.000%, rgba(91, 195, 154, 1.000) 100.000%);
    font-family: "Iceberg", sans-serif;
    color: white;
    font-size: 1.125rem;
}


.contenedor {
    width: 1024px;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
}

header {
    text-align: center;
    color: white;
    padding-top: 20px;
    padding-bottom: 10px;
    justify-content: space-between;
    border-bottom: 1px solid gray;
}

main {
    min-height: 300px;
    display: flex;
    align-items: center;
}

.cards {
    padding: 20px;
    display: flex;
    gap: 20px;
    text-align: center;
}

.card1 {
    padding: 10px;
    background-size: cover;
    background-position: center;
    background-image: url(public/BikeCardImg.png);
    border-radius: 10px;
    min-height: 300px;
    flex: 1;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.613);
}

.card2 {
    padding: 10px;
    background-size: cover;
    background-position: center;
    background-image: url(public/BikeCardImg2.png);
    flex: 1;
    min-height: 300px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.613);
}

.card3 {
    padding: 10px;
    background-image: url(public/BikeCardImg3.jpg);
    background-size: cover;
    background-position: center;
    flex: 1;
    min-height: 300px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.613);
}

.herobox1 {
    width: 50%;
    padding: 30px;
    margin: 20px;
    border-radius: 10px;
    text-align: center;
    flex: 2;
}
.herobox1 h1, p {
    text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.503);
}

.herobox2 {
    margin: 20px;
    border-radius: 10px;
    text-align: center;
    flex: 1;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.503);
}

.navbutton {
    padding-top: 15px;
    justify-content: end;
}

.navbutton a {
    margin: 0 15px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: "Iceberg", sans-serif;
    font-size: large;
    border-style: solid;
    border-width: 1px;
    border-color: azure;
    padding: 5px 15px;
    border-radius: 10px 0;
}
.navbutton {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.navbutton a:hover {
    text-decoration: underline;
    color: #d7bff0;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

h1 {
    font-size: 4rem;
    margin: 0;
    margin-bottom: 1.5rem;
}

h2 {
    font-size: 2rem;
    font-family: "Iceberg", sans-serif;
    text-align: center;
}

p {
    font-size: 1.5rem;
    line-height: 1.75rem;
    margin-bottom: 0.5rem;
}

.cards p {
    font-size: 1.15rem;
    line-height: 1.25rem;
    text-align: center;
}

svg {
    width: 120px;
    height: auto;
    margin-bottom: 15px;
}

svg path {
    stroke: #ffffff;
}

.cards a {
    text-decoration: none;
    color: white;
}

.cards a:hover {
    text-decoration: underline;
    color: #d7bff0;
}

.cta-button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 1.25rem;
    color: white;
    background-color: #0107c0;
    border: none;
    border-radius: 20px 0px;
    text-decoration: none;
    margin-top: 20px;
    transition: background-color 0.3s ease;
    font-family: "Iceberg", sans-serif;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.503);
}
.cta-button:hover {
    background-color: #433bd3;
}
.testimonials {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.503);
    margin: 20px;
    text-align: center;
    justify-content: space-between;
}
.testimonials h2 {
    width: 100%;
    margin-bottom: 20px;
    text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.503);
    font-family: "Iceberg", sans-serif;
    text-align: center;
}
.testimonials .subtitle {
    width: 100%;
    margin-bottom: 20px;
    font-size: 1rem;
    font-style: italic;
    color: #bfcafb;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.503);
    font-family: "Iceberg", sans-serif;
    text-align: center;
}
.tbox {
    width: 37%;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 50px;
    border: 1px solid white;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.503);
    box-sizing: border-box;
    margin-top: 30px;
    border-radius: 10px;
}

.tbox p:last-of-type {
    font-size: 1.15rem;
    font-style: italic;
    color: white;
}

.dropdown {
    display: none;
    position: absolute;
}

.navbutton:hover .dropdown{
    display: block;
    padding-top: 150px;
    z-index: 100;
}
.dropdown a {
    background-color: rgba(0, 0, 65, 0.9);
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.503);
}

