/* https://grabient.com/HQJgHCA0wMztBGA7DaBWALE6SBsAGaXEBaEXbWXVYBATm0JGHw1Q1rDunyTBwxRgSfIQC0CYGzBA?style=linearGradient&steps=3&angle=135 */
.iceberg-regular {
  font-family: "Iceberg", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(135deg, rgba(0, 0, 65, 1.000) 0.000%, rgba(34, 87, 114, 1.000) 50.000%, rgba(91, 195, 154, 1.000) 100.000%);
    font-family: "Iceberg", sans-serif;
    color: white;
    font-size: 1.125rem;
}


.contenedor {
    width: 1024px;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
}

header {
    text-align: center;
    color: white;
    padding-top: 20px;
    padding-bottom: 10px;
    justify-content: space-between;
}

main {
    min-height: 300px;
    display: flex;
    align-items: center;
}

.cards {
    padding: 20px;
    display: flex;
    gap: 20px;
    text-align: center;
}

.card1 {
    padding: 10px;
    background-size: cover;
    background-position: center;
    background-image: url(\public\BikeCardImg.png);
    border-radius: 10px;
    min-height: 300px;
    flex: 1;
}

.card2 {
    padding: 10px;
    background-size: cover;
    background-position: center;
    background-image: url(\public\BikeCardImg2.png);
    flex: 1;
    min-height: 300px;
    border-radius: 10px;
}

.card3 {
    padding: 10px;
    background-image: url(\public\BikeCardImg3.jpg);
    background-size: cover;
    background-position: center;
    flex: 1;
    min-height: 300px;
    border-radius: 10px;
}

.herobox1 {
    width: 50%;
    padding: 30px;
    margin: 20px;
    border-radius: 10px;
    text-align: center;
    flex: 2;
}

.herobox2 {
    margin: 20px;
    border-radius: 10px;
    text-align: center;
    flex: 1;
}

nav {
    margin-top: 10px;
    justify-content: end;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: "Iceberg", sans-serif;
    font-size: large;
}

nav a:hover {
    text-decoration: underline;
    color: #d7bff0;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

h1 {
    font-size: 4rem;
    margin: 0;
    margin-bottom: 1.5rem;
}
h2 {
    font-size: 2rem;
    font-family: "Iceberg", sans-serif;
    text-align: center;
}
p {
    font-size: 1.5rem;
    line-height: 1.75rem;
    margin-bottom: 0.5rem;
}
.cards p {
    font-size: 1.15rem;
    line-height: 1.25rem;
    text-align: center;
}
